<html>
  <body>
    <div id="view">
      <h1>Header</h1>
      <p>Donec quis lacus sit amet orci consequat vehicula et et libero. Quisque ac arcu lorem. Sed dictum adipiscing rutrum. Donec eget egestas libero. Vestibulum ac elit sed lectus rutrum pellentesque. Etiam pulvinar mollis adipiscing. Sed ut tellus eu libero tincidunt porttitor. Fusce porta euismod lobortis.</p>

<p>Integer eu justo augue. Morbi commodo laoreet eros, id posuere justo semper laoreet. Suspendisse mi elit, dapibus ut euismod ut, iaculis non purus. Aenean eros augue, accumsan eget ullamcorper eget, iaculis non sem. Nullam id libero nunc. Duis a orci nibh. Donec egestas neque id massa consectetur cursus. Vestibulum nisl velit, consequat non suscipit ut, egestas ac tortor. Sed erat lacus, accumsan a facilisis at, lobortis sit amet dolor. Sed sed sapien ac purus malesuada bibendum vitae eget quam.</p>

<p>Etiam eu orci leo, a vulputate erat. Cras at nulla hendrerit metus fringilla tristique vitae lobortis enim. Proin dignissim arcu id ipsum sollicitudin pulvinar. Nam euismod, ligula sit amet iaculis laoreet, odio quam lobortis massa, et tristique tortor diam in mauris. Nam at quam eget nisi dignissim tempus ac ac orci. Donec quis venenatis leo. In convallis augue at risus bibendum vitae condimentum lectus vulputate. Sed sapien nisi, porta id ornare sed, pharetra at erat. Praesent consequat arcu sit amet odio molestie accumsan. Suspendisse hendrerit justo eu mi ultricies iaculis. Fusce luctus adipiscing leo eget faucibus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed metus metus, placerat id consectetur ut, placerat hendrerit ipsum. Phasellus eros dui, lacinia non adipiscing sed, tempor vitae diam. Mauris sodales, est ut euismod vehicula, neque eros molestie libero, sit amet accumsan augue quam eget velit.</p>

<p>Phasellus aliquet magna rhoncus purus facilisis eget molestie justo porttitor. Fusce posuere urna id mi pretium vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas et ante eget nulla ullamcorper tempor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent laoreet dignissim urna at vulputate. Duis faucibus suscipit nunc ac ultrices. Vestibulum et orci quam, et facilisis odio. Suspendisse potenti. Quisque at vestibulum dui. Aenean sed orci sed justo laoreet facilisis non vitae justo. Curabitur consequat enim eu nisi auctor vitae lacinia elit sodales. Cras ut magna odio.</p>
      <div id="silk-component:static/simple">
        placeholder for static simple component
      </div>
    </div>
  </body>
</html>
