<html>
  <head>
    <title>Silk Default Basic Template</title>
    <link rel="stylesheet" href="resource/css/silk-prototype-site-default-basic.css" type="text/css" />
  </head>
  <body>
    <header>
      <h1>Silk Default Basic Template</h1>
    </header>
    <div id="outer_navbar">
	  <nav>
        <a href="#">page1</a>
        <a href="#">page2</a>
        <a href="#">page3</a>
      </nav>
    </div>
    <div id="silk-view">
      View content will be placed in here.
    </div>
    <footer>
      <a href="http://www.silkyweb.org">Spun by Silk</a>
    </footer>
  </body>
</html>
